{
  "extends": "@alexbainter/eslint-config/browser",
  "overrides": [
    {
      "files": ["**/*.spec.js"],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": "readonly"
      }
    }
  ]
}
